.Top {
	display: flex;
	justify-content: center;
  width: 100%;
}
.Header {
	text-align: center;
	display: inline;
}
.Image {
	padding-right: 30px;
  width: 100px;
	height: 100px;
}


h1 {
	padding: 15px;
	border: 1px solid black;
	font-weight: normal;
}
b {
	font-size: 20px;
	margin-left: 10px;
}
input {
	width: 110px;
	height: 35px;
	padding: 0px;
	margin-right: 10px;
}
button {
	width: 60px;
	height: 35px;
	padding: 0px;
	margin-right: 10px;
}
select {
	width: 60px;
	height: 35px;
	padding: 0px;
	margin-right: 10px;
}
p {
	display: inline-block;
	font-size: 16px;
}
.box {
	height: -100px;
	width: 67px;
	padding: 0px 5px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}
